*{
    padding: 0%;
    margin: 0%;
    
}
.imgback{
    height: 650px;
    width: 100%;
}





.Pr1{
    margin-top: -5px;
    background-color: orangered;
    height: 700px;
    width: 100%;
}



.Logo{
    height:140px;
    width: 120px;
    position: absolute;
    top: -15px;
    left: 10px;

}
.links{
    position: absolute;
    top: 47px;
    left: 440px;
    color: black;
}
a{
   margin: 25px;
   text-decoration-line: none;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
}
a:hover{
    color: rgb(255, 68, 0);
    transition: 0.4s;
   
}

.light{
    width: 50px;
}


.drakmood{
    background-color: orangered;
    color: black;
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 8px;
    border-radius: 15px;
    font-size: 10px;
    position: absolute;
    top: -15px;
    left: 770px;

}
.drakmood:hover{
    background-color: rgb(255, 88, 28);
    transition: 0.3s;
    color: white;

}

.title1{
    color:white;
    background-color: transparent;
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    position: absolute;
    top: 190px;
    left: 100px;
    padding: 10px;
    margin: 10px;

}
.open{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration-line: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 8px;
    margin: 5px;
    border-radius: 15px;
    font-size: 15px;
    text-align: center;
    position: absolute;
    top: 320px;
    width: 80px;
    height: 18px;
    left: 120px;
}
.open:hover{
    background-color: orangered;
    color: white;
}



.Img1{
    height: 550px;
    width: 500px;
    position: absolute;
    top: 750px;
    left: 100px;
    border-radius: 20px;

}

.title01{
    position: absolute;
    top: 870px;
    left: 660px;
    font-size: 37px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.title02{
    position: absolute;
    top: 1000px;
    left: 660px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.back1{
    background-color: rgb(255, 255, 255);
    height: 700px;
}

.bigtitle{
    position: absolute;
    top: 1450px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    left: 400px;
    font-size: 35px;
 
 }

 .cart1{
    background-color: transparent;
    border: 1px solid orangered;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 1600px;
    left: 290px;
   border-radius: 20px;

}
.free{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 35px;


}
.price1{
   color: rgb(0, 0, 0);
   position: relative;
   top: 55px;
   left: 35px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 45px;
}
.includ1{
   color: rgb(0, 0, 0);
   position: relative;
   top: 85px;
   left: 25px;
   font-size: 15px;

}
.includ01{
   position: relative;
   top: 110px;
   left: 35px;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
.sing1{
    height: 40px;
    width: 80px;
    background-color: orangered;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    border-radius: 20px;
    position: relative;
    top: 210px;
    left: 80px;
}
.sing1:hover{
   background-color: rgb(223, 62, 4);
   color: rgb(255, 255, 255);
   transition: 0.3s;
   box-shadow: 0px 0px 8px rgb(255, 98, 42);
}


.cart2{
    background-color: transparent;
    border: 1px solid orangered;
    height: 400px;
    width: 300px;
    position: absolute;
    top: 1600px;
    left: 700px;
   border-radius: 20px;

}
.pro{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 35px;


}
.price2{
   color: rgb(0, 0, 0);
   position: relative;
   top: 55px;
   left: 35px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 45px;
}
.includ2{
   color: rgb(0, 0, 0);
   position: relative;
   top: 85px;
   left: 25px;
   font-size: 15px;

}
.includ02{
   position: relative;
   top: 110px;
   left: 35px;
   color: rgb(0, 0, 0);
   font-family: Arial, Helvetica, sans-serif;
   font-size: 15px;
}
.includ03{
    position: relative;
    top: 130px;
    left: 35px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
 }
.sing2{
    height: 40px;
    width: 80px;
    background-color: orangered;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    border-radius: 20px;
    position: relative;
    top: 210px;
    left: 80px;
}
.sing2:hover{
   background-color: rgb(223, 62, 4);
   color: rgb(255, 255, 255);
   transition: 0.3s;
   box-shadow: 0px 0px 8px rgb(255, 98, 42);
}
